<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon glyphicon-globe"></span>Update Planet
            </h2>
        </div>
        <div class="panel-body">
            <!-- The form to add planets information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" placeholder="{{planet.data.name}}" ng-model="planet.name" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Size/Radius (in Km)</label>
                    <input type="number" class="form-control" placeholder="{{planet.data.size}}" ng-model="planet.size" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Price (in Ethereum)</label>
                    <input type="number" class="form-control" placeholder="{{planet.data.price}}" ng-model="planet.price" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Galaxy</label>
                    <input type="text" class="form-control" placeholder="{{planet.data.galaxy}}" ng-model="planet.galaxy" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Solar System</label>
                    <input type="text" class="form-control" placeholder="{{planet.data.solarsystem}}" ng-model="planet.solarsystem" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Additional Details</label><br>
                    <textarea rows="7" cols="42" class="form-control" placeholder="{{planet.data.bio}}" ng-model="planet.bio" required></textarea>
                </div>

                <div class="form-group">
                    <label for="username">Agent</label>
                    <select  name="agent" class="form-control" ng-model="planet.agent" required>
                        <option ng-repeat="agent in agents.data" value="{{agent._id}}">{{agent.name}}</option>
                    </select>
                </div>
                

                <hr />
                <br><i>NOTE: All forms must be filled in, or it will not update!</i>
                <button type="submit" class="btn btn-info btn-block" ng-click="updatePlanet()" ng-disabled="addForm.$invalid">Update</button>   
               <a ng-href="/#!/listingAgent" class="btn btn-info btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>