<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon glyphicon-globe"></span>Update Planet
            </h2>
        </div>
        <div class="panel-body">
            <!-- The form to add planets information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" placeholder="{{planet.data.name}}" ng-model="planet.name" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Size/Radius (in Km)</label>
                    <input type="number" class="form-control" placeholder="99999" ng-model="planet.size" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Price (in Ethereum)</label>
                    <input type="number" class="form-control" placeholder="9999999" ng-model="planet.price" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Galaxy</label>
                    <input type="text" class="form-control" placeholder="Andromeda" ng-model="planet.galaxy" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Solar System</label>
                    <input type="text" class="form-control" placeholder="Dimidium" ng-model="planet.solarsystem" required>
                </div>
                
                <div class="form-group">
                    <label for="size">Brief Bio</label><br>
                    <textarea rows="7" cols="42" class="form-control" placeholder="Insert Bio Here with info on inhabited, weather, atmosphere, etc" ng-model="planet.bio" required></textarea>
                </div>


                <div class="form-group">
                    <label for="username">Agent</label>
                    <select name="agent" class="form-control" ng-model="planet.agent" required>
                        <option value="1">Luke Skywalker</option>
                        <option value="2">Deanna Troi</option>
                        <option value="3">Kara Thrace</option>
                        <option value="4">Sigourney Weaver</option>
                        <option value="5">Grace Augustine</option>
                        <option value="6">James T. Kirk</option>
                        <option value="7">Leia Organa</option>
                    </select>
                </div>
                
                
                <div class="form-group">
                    <label for="picture">Main picture</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-default" ng-click="upload()">
                            Upload <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <a href="{{planet.picture.url}}" class="thumbnail" ng-if="planet.picture">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{planet.picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>                  
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture">Additional Pictures (Optional-Up to 3)</label>
                    <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="uploadMultiple()">
                    Upload <span class="caret"></span>
                    </button>
                    <!-- Show the thumbanil of more pictures -->
                        <div style="margin-top:10px;" ng-repeat="picture in planet.morePictures">     <div class="col-md-{{12 / planet.morePictures.length}}">
                            <a href="{{picture.url}}" class="thumbnail">
                              <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>  
                    </div>
                    </div>
                </div>
                <hr />              
                <button type="submit" class="btn btn-info btn-block" ng-click="updatePlanet()" ng-disabled="planet.$invalid || !planet.picture">Update</button>             
            </form>
        </div>
    </div>
</div>